.actions-wrapper {
  padding: 16px;
  font-family: 'Assistant', sans-serif;
  direction: rtl;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.balance-section {
  flex: 1;
  min-width: 300px;
}

.chart-section {
  flex: 1;
  min-width: 400px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-user-chart {
  width: 100%;
  max-width: 500px;
}


.recent-section {
  margin-top: 40px;
}

h2 {
  color: #444;
  border-bottom: 2px solid #ccc;
  padding-bottom: 6px;
  margin-top: 20px;
}

.red {
  color: #d32f2f;
  font-weight: bold;
}

.blue {
  color: #1976d2;
  font-weight: bold;
}

.green {
  color: #388e3c;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.actions-wrapper div {
  margin-bottom: 6px;
}
