<div class="home-container">
  <main class="main animated-fade-in">
    <div class="title-container">
    <img [src]="getLogoPath()" alt="לוגו הגמ&quot;ח" class="gmach-logo" />
      <div class="titles">
        <h1 class="gmach-name">{{ institution.name }}</h1>
      </div>
    </div>

    <app-home-main-section></app-home-main-section>
  </main>

  <footer class="footer">
    <div class="footer-content">
      <span>מופעל על ידי:</span>
      <img src="hafetzLogo.png" alt="חפץ חסד לוגו" class="hafetz-logo" />
    </div>
  </footer>
</div>
