<div class="home-main-wrapper">
  <div class="top-bar-container">
    <div class="info-box" (click)="goTo('/info')">
      <mat-icon class="icon">info</mat-icon>
      <div class="info-title">חשוב לדעת</div>
      <div class="info-sub">הסבר בנקודות<br />איך פועלת הקופה</div>
    </div>

    <div class="info-box" (click)="goTo('/programs')">
      <mat-icon class="icon">volunteer_activism</mat-icon>
      <div class="info-title">תוכניות ושותפים</div>
      <div class="info-sub">תכניות נישואי ילדים<br />הפקדות, שותפים והלוואות</div>
    </div>

    <div class="info-box" (click)="goTo('/contact')">
      <mat-icon class="icon">call</mat-icon>
      <div class="info-title">יצירת קשר</div>
      <div class="info-sub">תוכלו לקבל גם מענה<br />אישי דרך הטלפון</div>
    </div>
  </div>
<app-global-search></app-global-search>

</div>
<div class="made-by-inline">
  <span>מופעל על ידי:</span>
  <img src="hafetzLogo.png" alt="חפץ חסד לוגו" />
</div>
