<div class="form-container">
  <div class="header">
    <h1>כניסה לקופת הגמ"ח</h1>
    <div class="sub">
      משתמש חדש? <a href="/register">להרשמה לחץ כאן</a>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>כתובת מייל / תעודת זהות</mat-label>
      <input matInput formControlName="emailOrId" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>סיסמא</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="submit-container">
      <button mat-raised-button color="primary" type="submit">כניסה</button>
    </div>

    <div class="sub">
<button mat-button (click)="openForgotPassword()">שכחתי סיסמא</button>
    </div>
  </form>
</div>
