
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
:root {
  --header-h: 70px;
  --footer-h: 0px; 
 --center-lift: -48px; 
}


/* 1) Theme של Angular Material (או דרך angular.json) */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.contact-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 18px;
  padding: 16px 16px 12px;  /* ריווח פנימי */
  max-width: 95vw;          /* למנוע overflow אופקי */
  box-sizing: border-box;   /* למנוע גלילה אופקית */
  overflow: hidden;         /* לא חובה, אבל בטוח נגד גלילה מיותרת */
}
