<div class="actions-container">
  <h2 class="title">בחרו סוג הפקדה</h2>
  <p class="subtitle">בחרו את סוג ההפקדה הרצוי שברצונכם לבצע</p>

  <div class="cards">
    <div
      class="card"
      *ngFor="let deposit of depositTypes"
      (click)="goToDeposit(deposit)"
    >
      <h3>{{ deposit.name }}</h3>
      <p>{{ deposit.description }}</p>
      <button class="circle-btn"><span class="arrow">⬅</span></button>
    </div>
    <div class="card" (click)="goToDepositFreeze()">
    <h3>הקפאת תשלומי הפקדה</h3>
    <p>בקשה להקפאת תשלומים</p>
    <button class="circle-btn"><span class="arrow">⬅</span></button>
  </div>
   <div class="card" (click)="goToDepositWithdraw()">
    <h3>משיכת הפקדה</h3>
    <p>בקשה למשיכת הפקדה</p>
    <button class="circle-btn"><span class="arrow">⬅</span></button>
  </div>
  </div>
</div>